.sign{
    text-align: center;
    margin-bottom: 1%;
    background-color:hsl(0, 29%, 97%);
    box-shadow: 0 1px 1rem -4px #000;
}
.sign button{
    width:15%;
    height: 30px;   
     
}
.signup{
padding-top: 1.5% !important;
padding-bottom: 0%;
margin-bottom:  5px;

}
.signdown{
    padding-bottom: 1.5% !important;
    margin-bottom: 0%;
    margin-top: 5px;
    }
.sign .btn-warning{
    border: 1px solid gold;
    border-radius: 10px;
    font-family: Verdana, sans-serif;
    font-weight:400;
    padding:0;
  
}
.sign a{
    height: 20px;
}

